name: Python application

on: push

jobs:
  build:
    strategy:
	matrix:
	   os: [ubuntu-latest,windows-latest]
           python-version: ["3.10","3.11"]
    runs-on: ${{matrix.os}}
    steps:
    - name: checkout 
      uses: actions/checkout@v4
    - name: Set up Python 
      uses: actions/setup-python@v5
      with:
        python-version: ${{matrix.python-version}}
    - name: Cache pip
      uses: actions/cache@v4
      with:
        path: ~/.cache/pip
        key: COMP1300-${{ runner.os }}-pip-${{ hashFiles('**/requirements*.txt') }}
        restore-keys: COMP1300-${{ runner.os }}-pip-
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Test with pytest
      run: |
        pytest
