name: Python application

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout 
      uses: actions/checkout@v4
    - name: Set up Python 
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - name: Cache pip
      uses: actions/cache@v4
      with:
        path: ~/.cache/pip
        key: COMP-${{ runner.os }}-pip-${{ hashFiles('**/requirements*.txt') }}
        restore-keys: COMP-${{ runner.os }}-pip-
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        echo "installing requirements"
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        echo "done installing requirements"
    - name: Test with pytest
      run: |
        pytest
